{% from 'simple/icons.html' import icon_big %}
{%- set category_icons = {
    'ALL': 'apps-outline',
    'SHOES_BAG': 'bag-outline',
    'JEWELRY': 'diamond-outline',
    'FASHION': 'shirt-outline',
    'PC_SOFTWARE': 'laptop-outline',
    'SPORTS_OUTDOOR': 'basketball-outline',
    'BEAUTY': 'brush-outline',
    'ANIME_TOYS_GAMES': 'game-controller-outline',
    'WATCH': 'watch-outline',
    'HOME_KITCHEN': 'home-outline',
    'GROCERY_GOURMET-FOODS': 'cart-outline',
    'ELECTRONIC': 'phone-portrait-outline',
    'MUSIC_VIDEO_DVD': 'musical-notes-outline',
    'BOOK': 'book-outline',
    'ARTS_CRAFTS': 'color-palette-outline',
    'INDUSTRIAL_SCIENTIFIC': 'construct-outline',
    'HEALTH_PERSONAL-CARE': 'medkit-outline',
    'PET-SUPPLIES': 'paw-outline',
    'BABY_MATERNITY': 'egg-outline',
    'OTHER': 'ellipsis-horizontal-outline',
    'STATIONERY': 'pencil-outline',
    'CAR_BIKE': 'car-outline',
    'INSTRUMENT': 'musical-note-outline',
    'TOOLS_HOME-IMPROVEMENT': 'hammer-outline',
    'general': 'search-outline',
    'images': 'image-outline',
    'videos': 'play-outline',
    'news': 'newspaper-outline',
    'map': 'location-outline',
    'music': 'musical-notes-outline',
    'it': 'layers-outline',
    'science': 'school-outline',
    'files': 'file-tray-full-outline',
    'social media': 'people-outline',
}  -%}
<div id="categories" class="search_categories">{{- '' -}}
    <div id="categories_container">
        {%- if not search_on_category_select or not display_tooltip -%}
            {%- for category in categories -%}
                <div class="category category_checkbox">{{- '' -}}
                    <input type="checkbox" id="checkbox_{{ category|replace(' ', '_') }}" name="category_{{ category }}"{% if category in selected_categories %} checked="checked"{% endif %}/>
                    <label for="checkbox_{{ category|replace(' ', '_') }}" class="tooltips">
                        {{- icon_big(category_icons[category]) if category in category_icons  else icon_big('globe-outline') -}}
                        <div class="category_name">{{- _(category) -}}</div>
                    </label>
                </div>
            {%- endfor -%}
            {%- if display_tooltip %}<div class="help">{{ _('Click on the magnifier to perform search') }}</div>{% endif -%}
        {%- else -%}
            {%- for category in categories -%}{{- '\n' -}}
                <button type="submit" name="category_{{ category }}" class="category category_button {% if category in selected_categories %}selected{% endif %}">
                    {{- icon_big(category_icons[category]) if category in category_icons else icon_big('globe-outline') -}}
                    <div class="category_name">{{- _(category) -}}</div>{{- '' -}}
                </button>{{- '' -}}
            {%- endfor -%}
            {{- '\n' -}}
        {%- endif -%}
    </div>{{- '' -}}
</div>
